<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.body %></td>
        <td><%= link_to "Show", book_path(b) %></td>
        <td><%= link_to "Edit", edit_book_path(b) %></td>
        <td><%= link_to "Destroy", book_path(b), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>New Book</h2>
<%= render 'books/error', record: @book %>
<%= form_with model: @book, local: true do |b| %>
  <div class = "field">
    <%= b.label :title, for: "Title" %>
    <%= b.text_field :title %>
  </div>
  <div class = "field">
    <%= b.label :body, for: "Body" %>
    <%= b.text_area :body %>
  </div>
  <div class = "actions">
    <%= b.submit %>
  </div>
<% end %>